*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}
span{
    font-weight: bold;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}